.vehicle-info {
    background-color: #ffffff;
    border: 1px solid rgba(51, 51, 51, 0.6);
    box-shadow: 0 0 10px #333 !important;
    -moz-box-shadow: 0 0 10px rgba(51, 51, 51, 0.6) !important;
    -webkit-box-shadow: 0 0 10px rgba(51, 51, 51, 0.6) !important;
    height: 410px;
    overflow: hidden;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 300px;
    z-index: 5;
    border-radius: 5px 5px 0 0;
}

.vehicle-info table {
    border-collapse: collapse;
    cursor: pointer;
}


.vehicle-info table tr.title td,.vehicle-warning-info table tr.title td, .vehicle-bug-info table tr.title td, .vehicle-driver-info table tr.title td, .vehicle-overSpeed-info table tr.title td, .vehicle-stop-info table tr.title td, .vehicle-continuous-driving-info table tr.title td, .vehicle-daily-driving-info table tr.title td ,.vehicle-incompany-city-info table tr.title td{
    background-color: #c1c1c1;
    color: #333;
    font-weight: bold;
    padding: 3px 5px;
    text-transform: capitalize;
}

.vehicle-info table td {
    border: 1px solid #ccc;
    padding: 3px;
}


.vehicle-bug-info table,.vehicle-warning-info table, .vehicle-driver-info table, .vehicle-overSpeed-info table, .vehicle-stop-info table, .vehicle-continuous-driving-info table, .vehicle-daily-driving-info table,.vehicle-incompany-city-info table {
    border-collapse: collapse;
    cursor: pointer;
}

.vehicle-bug-info td,.vehicle-warning-info td, .vehicle-driver-info td, .vehicle-overSpeed-info td, .vehicle-stop-info td, .vehicle-continuous-driving-info td, .vehicle-daily-driving-info td ,.vehicle-incompany-city-info td{
    text-align: center;
    padding: 3px;
    border: 1px solid #c1c1c1;
}

.vehicle-info td.taxino, .vehicle-bug-info td.taxino, .vehicle-warning-info td.taxino, .vehicle-driver-info td.taxino, .vehicle-overSpeed-info td.taxino, .vehicle-stop-info td.taxino, .vehicle-continuous-driving-info td.taxino, .vehicle-daily-driving-info td.taxino ,.vehicle-incompany-city-info td.taxino{
    color: red;
    font-weight: bold;
    text-align: left;
}

.vehicle-info td.taxino, .vehicle-bug-info td.address, .vehicle-warning-info td.address, .vehicle-driver-info td.address, .vehicle-overSpeed-info td.address, .vehicle-stop-info td.address, .vehicle-continuous-driving-info td.address, .vehicle-daily-driving-info td.address,.vehicle-incompany-city-info td.address {
    text-align: left;
}

.vehicle-info .search {
    background: url('../../content/Images/searchbox-active.png') center right no-repeat;
    border-radius: 0 !important;
    padding: 3px;
    width: 99%;
}

.vehicle-info .command {
    background-color: #007aff;
    color: white;
    font-size: 13pt;
    font-weight: bold;
    padding: 3px 5px;
    cursor: move;
}

.vehicle-info .vehicle-wps {
    overflow: auto;
    width: 100%;
    height: 350px;
}

.row-passenger td {
    background-color: #fcbaba;
    color: black;
}

.row-cheat-pulse td {
    background-color: #66FFFF;
    color: black;
}

.row-lost-pulse td {
    background-color: #009999;
    color: white;
}

.row-lost-meter td {
    background-color: #FF0000;
    color: white !important;
}

.row-lost-gps td {
    background-color: #000000;
    color: white;
}

.vehicle-active td {
    font-weight: bold;
    background-color: #008ee8;
    color: white !important;
}

.status-vehicle {
    background-color: white;
    border: 1px solid #c1c1c1;
    bottom: 0;
    left: 0px;
    padding: 2px 10px 2px 5px;
    position: absolute;
    z-index: 1000;
    font-size: 9pt;
}

.timer-status {
    background-color: yellow;
    color: #333;
    padding: 3px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1000;
    font-size: 12px;
    border-radius: 0 0 0 10px;
    border: 1px solid rgba(51, 51, 51, 0.6);
    box-shadow: 0 0 10px #333 !important;
    -moz-box-shadow: 0 0 10px rgba(51, 51, 51, 0.6) !important;
    -webkit-box-shadow: 0 0 10px rgba(51, 51, 51, 0.6) !important;
}

.vehicle-cluster {
    background-color: white;
    bottom: 52px;
    display: none;
    left: 0;
    position: absolute;
    width: 150px;
    z-index: 9999;
    box-shadow: 3px 3px 5px #333 !important;
}

.free-vehicle {
    background-color: white;
    bottom: 3px;
    display: none;
    left: 155px;
    position: absolute;
    width: 300px;
    max-height: 230px;
    z-index: 3;
    box-shadow: 3px 3px 5px #333 !important;
}

.free-vehicle .content {
    max-height: 200px;
    overflow: auto;
    width: 100%;
}

.free-vehicle table {
    width: 100%;
    border-collapse: collapse;
}

.free-vehicle td {
    margin: 0;
    padding: 3px;
    border: 1px solid #c1c1c1;
}

.free-vehicle table tr.title td {
    background-color: #c1c1c1;
    color: #333;
    font-weight: bold;
    text-transform: capitalize;
    text-align: center;
}

.vehicle-cluster .content {
    max-height: 250px;
    padding: 3px;
    overflow: auto;
    width: 100%;
}

.vehicle-cluster table {
    width: 100%;
}

.vehicle-cluster td {
    margin: 0;
    padding: 3px;
}

.vehicle-cluster td.column1, .free-vehicle td.column1 {
    width: 25px;
}

.vehicle-cluster *, .free-vehicle * {
    cursor: pointer;
}

.free-vehicle tr:hover {
    background-color: #fdff98;
}

.vehicle-cluster tr:hover {
    background-color: #c1c1c1;
}

.current-vehicle td {
    background-color: rgb(98, 98, 239) !important;
    border: 1px solid rgb(98, 98, 239) !important;
    color: white;
}

.olFramedCloudPopupContent a.close {
    background: url(../Content/images/wclose.png) no-repeat;
    height: 16px;
    position: absolute;
    right: 6px;
    top: 6px;
    width: 16px;
}

.close {
    color: white !important;
    background: url(../Content/images/wclose.png) no-repeat;
    height: 16px;
    position: absolute;
    right: 6px;
    top: 6px;
    width: 16px;
}

.waypoint-info {
    border-collapse: collapse;
    color: black;
    font-size: 12px;
    width: 100%;
}

.waypoint-info tr.plates {
    background-color: #991A32;
    color: white;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
}

.waypoint-info tr.plates td {
    padding: 5px;
}

.waypoint-info tr.title {
    background-color: #3F7BF5;
    color: white;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.waypoint-info tr.title td {
    padding: 2px;
}

.waypoint-info tr.title td.passenger {
    background-color: #fcbaba !important;
    color: #333;
}

.waypoint-info tr.title td.shift {
    background-color: #00ff14 !important;
    color: #333;
}

.waypoint-info tr.summary {
    background-color: #333;
    color: white;
    color: white;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.ui-helper-hidden {
    display: none;
}

.ui-helper-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.ui-helper-reset {
    border: 0;
    font-size: 100%;
    line-height: 1.3;
    list-style: none;
    margin: 0;
    outline: 0;
    padding: 0;
    text-decoration: none;
}

.ui-helper-clearfix:before, .ui-helper-clearfix:after {
    border-collapse: collapse;
    content: "";
    display: table;
}

.ui-helper-clearfix:after {
    clear: both;
}

.ui-helper-clearfix {
    min-height: 0; /* support:IE7 */
}

.ui-helper-zfix {
    filter: Alpha(Opacity=0); /* support:IE8 */
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.ui-front {
    z-index: 100;
}

.ui-state-disabled {
    cursor: default !important;
}

.ui-icon {
    background-repeat: no-repeat;
    display: block;
    overflow: hidden;
    text-indent: -99999px;
}

.ui-icon-gripsmall-diagonal-se {
    background-image: url("../../Content/images/resize.png");
}

.ui-widget-overlay {
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

.ui-draggable-handle {
    -ms-touch-action: none;
    touch-action: none;
}

.ui-resizable-handle {
    -ms-touch-action: none;
    display: block;
    font-size: 0.1px;
    position: absolute;
    touch-action: none;
}

.ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle {
    display: none;
}

.ui-resizable-n {
    cursor: n-resize;
    height: 7px;
    left: 0;
    top: -5px;
    width: 100%;
}

.ui-resizable-s {
    bottom: -5px;
    cursor: s-resize;
    height: 7px;
    left: 0;
    width: 100%;
}

.ui-resizable-e {
    cursor: e-resize;
    height: 100%;
    right: -5px;
    top: 0;
    width: 7px;
}

.ui-resizable-w {
    cursor: w-resize;
    height: 100%;
    left: -5px;
    top: 0;
    width: 7px;
}

.ui-resizable-se {
    bottom: 1px;
    cursor: se-resize;
    height: 12px;
    right: 1px;
    width: 12px;
}

.ui-resizable-sw {
    bottom: -5px;
    cursor: sw-resize;
    height: 9px;
    left: -5px;
    width: 9px;
}

.ui-resizable-nw {
    cursor: nw-resize;
    height: 9px;
    left: -5px;
    top: -5px;
    width: 9px;
}

.ui-resizable-ne {
    cursor: ne-resize;
    height: 9px;
    right: -5px;
    top: -5px;
    width: 9px;
}

.ui-resizable-helper {
    border: 2px dotted #333;
}

.control-center {
    position: absolute;
    top: 65px;
    right: 0;
    background-color: white;
    z-index: 4;
    border: 1px solid rgba(51, 51, 51, 0.6);
    box-shadow: 0 0 10px #333 !important;
    -moz-box-shadow: 0 0 10px rgba(51, 51, 51, 0.6) !important;
    -webkit-box-shadow: 0 0 10px rgba(51, 51, 51, 0.6) !important;
    width: 210px;
    border-radius: 5px 5px 0 0;
}

.control-center .control-center-button {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.control-center .state-expand {
    background: url('../../Content/Images/arrowdown.png') center;
}

.control-center .state-collapse {
    background: url('../../Content/Images/arrowright.png') center;
}

.control-center .header {
    padding: 5px 10px;
    background-color: #007aff;
    display: block;
    color: white;
    font-weight: bold;
    cursor: move;
}

.control-center p {
    padding: 0 3px;
    margin: 0;
    font-size: 12px;
    line-height: 0.8em;
}

.search-address {
    position: absolute;
    left: 50px;
    top: 40px;
    z-index: 1002;
    padding: 2px;
    width: 500px;
    border: 1px solid rgba(51, 51, 51, 0.6);
    box-shadow: 0 0 10px #333 !important;
    -moz-box-shadow: 0 0 10px rgba(51, 51, 51, 0.6) !important;
    -webkit-box-shadow: 0 0 10px rgba(51, 51, 51, 0.6) !important;
    border-radius: 5px 0 0 5px;
}

.search-address input {
    padding: 3px 5px;
}

.station-info, .geofence-info, .area-info,.area-offset-info,.area-geofence-info {
    background-color: #ffffff;
    border: 1px solid rgba(51, 51, 51, 0.6);
    box-shadow: 0 0 10px #333 !important;
    -moz-box-shadow: 0 0 10px rgba(51, 51, 51, 0.6) !important;
    -webkit-box-shadow: 0 0 10px rgba(51, 51, 51, 0.6) !important;
    overflow: hidden;
    position: absolute;
    right: 50px;
    bottom: 0;
    width: 250px;
    height: 350px;
    z-index: 5;
    border-radius: 5px 5px 0 0;
}

.vehicle-bug-info {
    background-color: #ffffff;
    border: 1px solid rgba(51, 51, 51, 0.6);
    box-shadow: 0 0 10px #333 !important;
    -moz-box-shadow: 0 0 10px rgba(51, 51, 51, 0.6) !important;
    -webkit-box-shadow: 0 0 10px rgba(51, 51, 51, 0.6) !important;
    overflow: hidden;
    position: absolute;
    right: 50px;
    bottom: 0;
    width: 450px;
    height: 300px;
    z-index: 5;
    border-radius: 5px 5px 0 0;
}

.vehicle-warning-info {
    background-color: #ffffff;
    border: 1px solid rgba(51, 51, 51, 0.6);
    box-shadow: 0 0 10px #333 !important;
    -moz-box-shadow: 0 0 10px rgba(51, 51, 51, 0.6) !important;
    -webkit-box-shadow: 0 0 10px rgba(51, 51, 51, 0.6) !important;
    overflow: hidden;
    position: absolute;
    right: 50px;
    bottom: 0;
    width: 450px;
    height: 300px;
    z-index: 5;
    border-radius: 5px 5px 0 0;
}

.vehicle-driver-info {
    background-color: #ffffff;
    border: 1px solid rgba(51, 51, 51, 0.6);
    box-shadow: 0 0 10px #333 !important;
    -moz-box-shadow: 0 0 10px rgba(51, 51, 51, 0.6) !important;
    -webkit-box-shadow: 0 0 10px rgba(51, 51, 51, 0.6) !important;
    overflow: hidden;
    position: absolute;
    right: 50px;
    bottom: 0;
    width: 350px;
    height: 300px;
    z-index: 5;
    border-radius: 5px 5px 0 0;
}

.vehicle-overSpeed-info ,.vehicle-incompany-city-info{
    background-color: #ffffff;
    border: 1px solid rgba(51, 51, 51, 0.6);
    box-shadow: 0 0 10px #333 !important;
    -moz-box-shadow: 0 0 10px rgba(51, 51, 51, 0.6) !important;
    -webkit-box-shadow: 0 0 10px rgba(51, 51, 51, 0.6) !important;
    overflow: hidden;
    position: absolute;
    right: 50px;
    bottom: 0;
    width: 350px;
    height: 250px;
    z-index: 5;
    border-radius: 5px 5px 0 0;
}

.vehicle-stop-info, .vehicle-continuous-driving-info, .vehicle-daily-driving-info {
    background-color: #ffffff;
    border: 1px solid rgba(51, 51, 51, 0.6);
    box-shadow: 0 0 10px #333 !important;
    -moz-box-shadow: 0 0 10px rgba(51, 51, 51, 0.6) !important;
    -webkit-box-shadow: 0 0 10px rgba(51, 51, 51, 0.6) !important;
    overflow: hidden;
    position: absolute;
    right: 50px;
    bottom: 0;
    width: 350px;
    height: 250px;
    z-index: 5;
    border-radius: 5px 5px 0 0;
}

.history-info {
    position: absolute;
    top: 65px;
    right: 200px;
    background-color: white;
    z-index: 4;
    border: 1px solid rgba(51, 51, 51, 0.6);
    box-shadow: 0 0 10px #333 !important;
    -moz-box-shadow: 0 0 10px rgba(51, 51, 51, 0.6) !important;
    -webkit-box-shadow: 0 0 10px rgba(51, 51, 51, 0.6) !important;
    width: 270px;
    border-radius: 5px 5px 0 0;
}

.history-waypoint td {
    padding: 4px;
    border: none;
}

.history-waypoint table {
    padding: 5px;
}

.form-control {
    display: inline !important;
}

.station-info .control-center-button, .geofence-info .control-center-button, .area-info .control-center-button, .history-info .control-center-button, .vehicle-overSpeed-info .control-center-button, .vehicle-stop-info .control-center-button, .vehicle-continuous-driving-info .control-center-button, .vehicle-daily-driving-info .control-center-button,.vehicle-incompany-city-info .control-center-button,.area-offset-info .control-center-button,.area-geofence-info .control-center-button {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.station-info .state-expand, .geofence-info .state-expand, .area-info .state-expand, .history-info .state-expand, .vehicle-overSpeed-info .state-expand, .vehicle-stop-info .state-expand, .vehicle-continuous-driving-info .state-expand, .vehicle-daily-driving-info .state-expand,.vehicle-incompany-city-info .state-expand ,.area-offset-info .state-expand,.area-geofence-info .state-expand{
    background: url('../../Content/Images/arrowdown.png') center;
}

.station-info .state-collapse, .geofence-info .state-collapse, .area-info .state-collapse, .history-info .state-collapse, .vehicle-overSpeed-info .state-collapse, .vehicle-stop-info .state-collapse, .vehicle-continuous-driving-info .state-collapse, .vehicle-daily-driving-info .state-collapse,.vehicle-incompany-city-info .state-collapse,.area-offset-info .state-collapse,.area-geofence-info .state-collapse {
    background: url('../../Content/Images/arrowright.png') center;
}

.station-info .header, .geofence-info .header, .area-info .header, .history-info .header, .vehicle-bug-info .header, .vehicle-warning-info .header, .vehicle-driver-info .header, .vehicle-overSpeed-info .header, .vehicle-stop-info .header, .vehicle-continuous-driving-info .header, .vehicle-daily-driving-info .header ,.vehicle-incompany-city-info .header,.area-offset-info .header,.area-geofence-info .header{
    padding: 5px 10px;
    background-color: #007aff;
    display: block;
    color: white;
    font-weight: bold;
    cursor: move;
    height: 30px;
}

.station-info .station-list, .geofence-info .geofence-list, .area-info .area-list, .history-info .history-list ,.area-info .area-offset-list,.area-geofence-info .area-geofence-list{
    overflow: auto;
    width: 100%;
    height: 285px;
}

.vehicle-bug-info .vehicle-bug-list {
    overflow: auto;
    width: 100%;
    height: 230px;
}
.vehicle-warning-info .vehicle-warning-list {
    overflow: auto;
    width: 100%;
    height: 230px;
}
.vehicle-driver-info .vehicle-driver-list {
    overflow: auto;
    width: 100%;
    height: 270px;
}

.vehicle-overSpeed-info .vehicle-overSpeed-list, .vehicle-stop-info .vehicle-stop-list, .vehicle-continuous-driving-list, .vehicle-daily-driving-list,.vehicle-incompany-city-info .vehicle-incompany-city-list {
    overflow: auto;
    width: 100%;
    height: 220px;
}

.station-info table, .geofence-info table, .area-info table, .history-info table,.area-offset-info table,.area-geofence-info table {
    border-collapse: collapse;
    cursor: pointer;
}

.station-info table td, .geofence-info table td, .area-info table td,.area-offset-info table td ,.area-geofence-info table td{
    border: 1px solid #ccc;
    padding: 3px;
}

.station-info td.name, .geofence-info td.name, .area-info td.name, .history-info td.name,.area-offset-info td.name ,.area-geofence-info td.name{
    color: #000000;
    font-weight: bold;
}

.station-info .search, .geofence-info .search, .area-info .search, .vehicle-bug-info .search, .vehicle-driver-info .search,.vehicle-warning-info .search ,.area-offset-info .search,.area-geofence-info .search{
    background: url('../../content/Images/searchbox-active.png') center right no-repeat;
    border-radius: 0 !important;
    padding: 3px;
    width: 99%;
}

.station-active td, .geofence-active td, .area-active td, .history-active td ,.area-offset-active td,.area-geofence-active td{
    font-weight: bold;
    background-color: #008ee8;
    color: white !important;
}

.bug {
    background-color: red;
}

.warning-red {
    color: red;
}

.warning-blue {
    color: blue;
}

.warning-driving {
    background-color: #f6ff66 !important;
    z-index: 9999;
}

.point-info {
    border-collapse: collapse;
    width: 100%;
}

.point-info td {
    border: 1px solid #e1e1e1;
    padding: 1px;
    white-space: nowrap;
}

.point-info td.title {
    background-color: #e1e1e1;
    font-weight: bold;
}

.rule {
    position: absolute;
    top: 100px;
    left: 100px;
    z-index: 2;
    background-color: white;
    border: 1px #c1c1c1 solid;
    border-radius: 5px;
    box-shadow: 0 0 10px #333 !important;
    -moz-box-shadow: 0 0 10px rgba(51, 51, 51, 0.6) !important;
    -webkit-box-shadow: 0 0 10px rgba(51, 51, 51, 0.6) !important;
    padding:5px;
}

.rule td {
    padding: 3px;
}